* {
    box-sizing: border-box;
    /* background-color: #ffffff; */
    /* color: #000000; */
}

html {
    padding-left: 14px;
    padding-right: 14px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}
/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 20px;
}

/* Left and right column */
.column.side {
    width: 30%;
    /* background-color: #111111; */
}

/* Middle column */
.column.middle {
    width: 40%;
}

.column a {
    display: block;
}

.row {
    height: 100%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

.annotator, .annotator h4 {
    position: relative;
    text-align: center;
}

.canvas {
    padding: 6px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    height: 720px;
}
.canvas.layer {
    position: absolute;
    top:0px;
    left:0px;
    width: 720px;
    height: 720px;
    cursor: crosshair;
}

.btn.btn-secondary{
    padding: 4px;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}